<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>What to Wear</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  <div class="left">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
    <span>what to wear</span>
  </div>

  <nav>
    <a href="#home">Home</a>
    <a href="#about">About</a>
  </nav>

  <a href="#weather" class="neu-button start-btn">Let's start</a>
</header>

<section id="home" class="hero">
  <div class="hero-text">
    <h1>Fabric responds to atmosphere,<br>not temperature.</h1>
  </div>
  <img src="{{ url_for('static', filename='images/background.jpg') }}">
</section>

<section class="seasons">
  
  <div class="season-item">
    <img src="{{ url_for('static', filename='images/winter.jpg') }}">
    <p class="artist">Claude Monet</p>
    <p class="artwork">Snow Scene at Argenteuil 1875</p>
  </div>

  <div class="season-item">
    <img src="{{ url_for('static', filename='images/spring.jpg') }}">
    <p class="artist">Alois Arnegger</p>
    <p class="artwork">Spring Landscape</p>
  </div>

  <div class="season-item">
    <img src="{{ url_for('static', filename='images/summer.jpg') }}">
    <p class="artist">Peder Severin Krøyer</p>
    <p class="artwork">Summer Evening on Skagen's Southern Beach 1893</p>
  </div>

  <div class="season-item">
    <img src="{{ url_for('static', filename='images/fall.jpg') }}">
    <p class="artist">Edward Cucuel</p>
    <p class="artwork">In Autumn Sunlight</p>
  </div>

</section>


<section id="weather" class="bottom-panel">

  
  <div class="left-panel">

    <div class="widget weather-clear">
  <h3>Weather Live</h3>

  <p class="widget-desc">
    Enter your city to get live weather and fabric suggestions.
  </p>

  <input type="text" id="cityInput" placeholder="Write your city">
  <button onclick="getWeather()" class="neu-button">Enter</button>

  <p id="weatherText"></p>
</div>


    <div class="widget">
      <h3>Music List</h3>
      <ul class="music-list">
        <li class="neu-button" onclick="playSong(0)">Taeyeon – Four Seasons</li>
        <li class="neu-button" onclick="playSong(1)">Sia – Snowman</li>
        <li class="neu-button" onclick="playSong(2)">Demi Lovato – Cool for the Summer</li>
      </ul>
      <audio id="player"></audio>
    </div>

  </div>

  
  <div class="right-panel">
    <div class="fabric-card">
      <h2>Fabric Response</h2>

      <p class="fabric-intro" id="atmosphereText">
       Enter a city to observe how fabrics respond to today’s atmosphere.
      </p>

      <div class="fabric-item">
        <h4>Cotton</h4>
        <p id="cottonText">—</p>
      </div>

      <div class="fabric-item">
        <h4>Wool</h4>
        <p id="woolText">—</p>
      </div>

      <div class="fabric-item">
        <h4>Silk</h4>
        <p id="silkText">—</p>
      </div>

      <div class="fabric-item">
        <h4>Linen</h4>
        <p id="linenText">—</p>
      </div>

      <div class="styling-direction">
        <h3>Styling Direction</h3>
        <p id="stylingText">—</p>
      </div>
    </div>
  </div>

</section>

<section id="about" class="about">
  <h2>About</h2>
  <p>
    A conceptual fashion project exploring how fabrics respond to
    atmosphere through an impressionist perspective.
  </p>
</section>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
